[submodule "third-party/imgui/imgui"]
	path = third-party/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw
[submodule "third-party/spng"]
	path = third-party/spng
	url = https://github.com/randy408/spng
[submodule "third-party/libspng"]
	path = third-party/libspng
	url = https://github.com/randy408/libspng
[submodule "third-party/flecs"]
	path = third-party/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "third-party/daScript"]
	path = third-party/daScript
	url = https://github.com/GaijinEntertainment/daScript
[submodule "third-party/lua"]
	path = third-party/lua
	url = https://github.com/lubgr/lua-cmake
[submodule "third-party/libschrift"]
	path = third-party/libschrift
	url = https://github.com/tomolt/libschrift
[submodule "third-party/VulkanMemoryAllocator"]
	path = third-party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third-party/volk"]
	path = third-party/volk
	url = https://github.com/zeux/volk
[submodule "third-party/box2d"]
	path = third-party/box2d
	url = https://github.com/erincatto/box2d
[submodule "third-party/enet"]
	path = third-party/enet
	url = https://github.com/zpl-c/enet
[submodule "third-party/GameNetworkingSockets"]
	path = third-party/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets
